html {
  padding: 25px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

body {
  max-width: 800px;
  width: 100%;
  height: auto;
  margin: 0 auto;
  display: block;
  background-color: #DBDBDB;
}

#masthead img {
  max-width: 800px;
  width: 100%;
  height: auto;
  margin: 0 auto;
  display: block;
}

#content {
  margin-top: 30px;
  margin-bottom: 30px;
  font-family: Helvetica,sans-serif;
}

#content p {
  font-size: 1.05em;
}

article {
  margin-bottom: 20px;
}

header.title > span {
  font-size: 20px;
  font-weight: 600;
  color: #3498DB;
}

article .author {
  display: table;
  margin-top: 10px;
}

article .author * {
  display: table-cell;
  vertical-align: middle;
}

article .author img {
  width: 32px;
  height: auto;
  border-radius: 50%;
  margin-right: 10px;
}

article .author span {
  font-size: 16px;
  color: #DB7734;
}

.cta-read-more-button a {
  text-decoration: none;
  font-weight: bold;
  color: #DB3498;
}

#social-media {
  text-align: center;
  font-size: 24px;
  letter-spacing: 12px;
  margin-top: 24px;
  margin-bottom: 24px;
}

#social-media a {
  text-decoration: none;
}

#imprint {
  text-align: center;
  line-height: 150%;
  color: #525252;
  font-family: 'Courier New','Courier','Lucida Sans Typewriter','Lucida Typewriter';
}
