<div class="article">
    <div class="title">
        <span>FREE NOW redefined mobility</span>
    </div>
    <div class="author">
        <img src="https://en.gravatar.com/userimage/18419381/3d7a4d861f847707fbc02d659ad84887.jpg?size=800" alt="" />
        <span>Jing Li</span>
    </div>
    <div class="outline">
        <p>Free Now is a mobility provider headquartered in Hamburg, Germany. Free Now was formed in February 2019 from the joint venture between BMW and Daimler Mobility, and Marc Berg is CEO of the Free Now Group.</p>
    </div>
    <div class="cta-read-more-button">
        <a href="https://basgeekball.com/">Continue reading &#x1f4d6;</a>
    </div>
</div>
